.todo{
    display: flex;
     height: 600px;
}

.opciones{
    background-color: #34495e;

    width: 20%;
}

.titulo{

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 20px;
}
